extends layout

block content
  h1= title
  p= description
  p Swagger documentation is at: #[a(href= '#{host}/docs/index.html') '#{host}/docs/index.html']
  p Raml documentation is at: #[a(href='#{host}/spec.html') '#{host}/spec.html']
  img(src="/images/model.png")
